.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px; /* Adjust the height as needed */
  width: 100%; /* Set the width to 100% to span the entire width of the viewport */
  background: rgb(0, 51, 66);
  position: fixed; /* Position the navbar fixed at the top of the viewport */
  top: 0; /* Align the navbar to the top */
  left: 0; /* Align the navbar to the left */
  right: 0; /* Align the navbar to the right */
  margin-left: auto; /* Center the navbar horizontally */
  margin-right: auto; /* Center the navbar horizontally */
  border-bottom: 3px solid rgb(12, 195, 191);
  z-index: 1000;
}

.nav_left {
  margin-right: 20px;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 5rem; 
}

.nav_logo {
 
  position: absolute;
  top: -15px;
  left: 1.5vh;
  margin-left: 20px; 
  margin-top: 12px;
}

.home_link, .sports_link, .schedules_link, .pricing_link, .settings_link {
  font-family: Oswald;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  transition: background-color 0.1s ease-in; /* Add this line */
}

.home_link:hover, .sports_link:hover, .schedules_link:hover, .pricing_link:hover, .settings_link:hover {
  background-color: rgb(11, 162, 159);
}


.nav {
  /* Existing styles */
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  will-change: transform; /* Optimizes animations */
}

.nav_active {
  transform: translateY(0);
}

.sports_dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgb(11, 162, 159);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.dropdown_content .dropdown_item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content .dropdown_item:hover {
  background-color: grey
}

.sports_dropdown:hover .dropdown_content {
  display: block;
}




